.level-l1 {
    color: red;
  }
  
  .level-l2 {
    color: goldenrod;
  }
  
  .level-l3 {
    color: green;
  }
  
  .level-l4 {
    color: yellow;
  }
  .user-details {
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 16px; 
    margin: 65px auto; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  