<div class="container-fluid" *ngIf="!isLoading">
    <div class="row mt-3">
        <div class="col-md-6 scrollbar" style="height: 85vh; overflow-x: auto;">
            <p-table responsiveLayout="scroll" [value]="usersList" [paginator]="true" [rows]="5"
                [rowsPerPageOptions]="[5, 10, 15]">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th>Name</th>
                        <th>Total Amount</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <button pButton icon="pi pi-eye" class="bg-success" (click)="viewUserDetails(user)"></button>
                        </td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.totalAmount }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div class="col-md-6">
            <p-tabView>
                <p-tabPanel header="View User">
                    <div *ngIf="selectedUser; else noUserSelected">
                        <h5>User Details</h5>
                        <p><strong>Name:</strong> {{ selectedUser.name }}</p>
                        <p><strong>Total Amount:</strong> {{ selectedUser.totalAmount }}</p>
                    </div>
                    <ng-template #noUserSelected>
                        <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
                            <p class="blink fw-bold text-center text-danger">Select a user to view details.</p>
                        </div>
                    </ng-template>
                </p-tabPanel>

                <p-tabPanel header="Top Customers">
                    <p-table [value]="topCustomers">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Total Amount</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td>{{ user.name }}</td>
                                <td>{{ user.totalAmount }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </p-tabPanel>
            </p-tabView>
        </div>
    </div>
</div>

<div *ngIf="isLoading">
    <app-loader></app-loader>
</div>
