.menu-btn-bg {
    background-color: #673AB7;
}

.notification-list {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 250px;
    overflow: auto;

    li {
        padding: 8px 12px;
        border-bottom: 1px solid #e0e0e0;

        &:last-child {
            border-bottom: none;
        }
    }
}